{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formUser) }}
    {{ form_widget(formUser) }}
    <button>{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(formUser) }}
{% endblock %}